name: Lean Action CI

on:
  push:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4 # Updated to v4 for 2026 stability

      - name: Run Lean Action
        uses: leanprover/lean-action@v1

      - name: Generate Docs
        uses: leanprover-community/docgen-action@v1
        with:
          # REQUIRED: If you do not have a 'home_page' folder with a Gemfile,
          # set this to false to stop the Jekyll build error.
          build-page: false
          # Sets where the final documentation will be placed
          output-folder: docs
